<div *ngIf="posts.length; else loading">
  <div class="form-control">
    <input
      type="text"
      placeholder="Найти напоминание по названию..."
      [(ngModel)]="searchStr"
    />
  </div>
  <table>
    <thead>
      <tr>
        <th>Название напоминания</th>
        <th>Дата и время напоминания</th>
        <th>Состояние</th>
        <th>Действие</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | searchPosts: searchStr">
        <td>{{ post.note }}</td>
        <td>{{ post.date | date: "EEEE,d MMMM, y, HH:mm":null:"ru" }}</td>
        <td *ngIf="post.date < post.dateNow">просрочено</td>
        <td *ngIf="post.date > post.dateNow">активно</td>
        <td>
          <button
            class="btn btn-link open"
            [routerLink]="['/user', 'reminder', post.id, 'edit']"
            (click)="getId(post.id)"
            (click)="getNote(post.note)"
          >
            Изменить
          </button>
          <a (click)="remove(post.id)">Удалить </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <div *ngIf="!timer; else postNone">
    <p class="text-center">загрузка...</p>
  </div>
</ng-template>

<ng-template #postNone>
  <p class="text-center">постов нет, создайте их</p>
</ng-template>
